# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


API key : AIzaSyAHge8nhRbn-_DuP5DLLBvwAB4V7N-QP7E

SSID: 17mUndPmSHKpLzgziUJPAXvG3KWO3eCaP3lDxNabHPi0

client id: 719994932161-ec1pvu9p768p2kqnjmpc2rqtu5f5lsvq.apps.googleusercontent.com
sec: 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
scope: 'https://www.googleapis.com/auth/spreadsheet'


https://sheet.best/api/sheets/5b0e0b79-45f1-4078-bc5d-ea00753de28c

https://sheet.best/api/sheets/607b0665-0821-4750-8efd-2e3c5b579db6